body {
    font-family: 'Roboto Slab', serif;
}
.bg-sari {
    background-color: #FFC017;
}

.bg-borderbottom {
    border-bottom: 1px solid #414141;
}

.bg-bordertop {
    border-top: 1px solid #cecdcd;
}

.aside-buttons > li {
    margin-bottom: 10px;
}